/*
Theme Name: Cleanify
Theme URI: http://themelines.com/
Author: Themelines
Author URI: http://themelines.com/
Description: Themelines Clean Responsive Wordpress Theme.
Version: 1.0
License: GNU General Public License v3.0 /
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: gray, light, two-columns, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, flexible-header, sticky-post,  theme-options, threaded-comments, translation-ready


Credits:

1. Bootstrap

 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)

 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=f58353a31151a8c05d7c)
 * Config saved to config.json and https://gist.github.com/f58353a31151a8c05d7c

2. wp_bootstrap_navwalker

* Class Name: wp_bootstrap_navwalker
* GitHub URI: https://github.com/twittem/wp-bootstrap-navwalker

3. Glyphicons

 * http://getbootstrap.com/components/

*/

body {
    word-wrap: break-word;
}
/* Alignment */
a:focus, a:hover { color: #E74C3C; text-decoration:none;}
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}
.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
}
/* Images and wp-captions should always fit and be responsive */

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}
img[class*="wp-image-"] {
    /* margin-top: 10px; */
    
    margin-bottom: 10px;
}
.wp-caption {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    max-width: 100%;
    border-radius: 4px;
    padding: 0 10px;
}
.wp-caption.aligncenter {
    margin-bottom: 10px;
}
.wp-caption img[class*="wp-image-"] {
    display: block;
}
.wp-caption .wp-caption-text {
    text-align: center;
    margin-top: 10px;
}
/* WP Gallery */

.gallery {
    margin-bottom: 1.5em;
}
.gallery a img {
    border: none;
    height: auto;
    max-width: 90%;
}
.gallery dd {
    margin: 0;
}
.gallery-caption {
    display: block;
}
/* Make sure embeds and iframes fit their containers */

embed,
iframe,
object {
    max-width: 100%;
}
/* Text meant only for screen readers */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */
}
/* Content */


.hentry {
    margin: 0 0 1.5em;
}
.sticky {
    display: block;
}
.bypostauthor {
    display: block;
}
/* Clearing */

.clear {
    clear: both;
}
/* Navigation */

.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:active>.dropdown-menu,
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:active>a:after {
    border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/* Here some needed widget styles*/

.widget {
    margin-bottom: 2em;
}
.widget_nav_menu ul.sub-menu li,
.widget_pages ul.children li {
    padding-left: 15px;
}
/* Hiding the search widget's button in widgets. thats just too old-skool. :) but if you want it back, just delete the next line. * Note: you can change the whole appearance of the search_form() function in our searchform.php */

.widget_search .search-form input[type="submit"] {
    display: none;
}
/* Make sure select elements fit in widgets */

.widget select {
    max-width: 100%;
}
/* Nested comments? They are threaded and nested already, you just need to add your own styling to finalize! * For example with some margin, like the line below ;) Delete, modify, change classes in HTML if you desire another style */

.comment .children {
    margin-left: 1.5em;
}
/*** Some WP Theme Repository requirements*/

.sticky {}.gallery-caption {}.bypostauthor {}.entry-meta {
    clear: both;
}
/* styles for tl_pagination und tl_link_pages */

nav form.tl-page-nav,
nav .input-group,
nav .input-group-btn,
nav .form-control {
    display: inline;
}
/****--------------------------------------------------------------------------------------style start ---------------------------------------------------------------------------------------*****/
/*** Themelines corporate stylesheet **/
/**global Style **/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700);


/** <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|PT+Sans:400,700|PT+Serif:400,700" rel="stylesheet"> **/
/** 
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif; 
**/
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|PT+Sans:400,700|PT+Serif:400,700');
/* html, body{
  height:100%;
}
 */

body {
    /* font-family: 'Open Sans', sans-serif!important; */
    font-family: 'PT Sans', sans-serif!important;
    background-color: #FFF!important;
}
/* .h1,.h2,.h3,.h4,body,h1,h2h3,h4h5,h6 {
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 400;
} */
.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PT Sans', sans-serif!important;
    font-weight: 400;
}
a:focus, a:hover { color: #E74C3C; text-decoration:none;}
p a{ color: #888; text-decoration:underline;}
p a:hover{ color: #E74C3C; text-decoration:underline;}
.search-form label {
    width: 100%;
}
.tlpb {
    background: #fff none repeat scroll 0 0;
}
.tl-common-gap {
    padding: 2% 0;
}
.tl-section-heading {
    position: relative;
}
.tl-section-heading {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 2%;
    padding-bottom: 1%;
    text-align: center;
    text-transform: capitalize;
}
.tl-section-heading span {
    font-weight: 700;
}
.main-content {
    background: #FFF;
}
.tl-fixed-header {
    -webkit-box-shadow: 1px 1px 2px #000000;
    -moz-box-shadow: 1px 1px 2px #000000;
    box-shadow: 1px 1px 2px #000000;
    left: 0;
    position: fixed;
    top: 0;
    -webkit-transition: all 0.6s ease-in-out 0s;
    -moz-transition: all 0.6s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;
    width: 100%;
    z-index: 999;
}
.transition-tl,
.owl-prev,
.owl-next,
.service-nopad-btop,
.service-nopad,
.btn-link,
.tl-services-box i,
.btn, .sidebar .widget .nav a,
.panel-heading .accordion-toggle,
.panel-heading .accordion-toggle.collapsed,
.tl-postslide-dark,
.call-2-action-dark .btn,
.tl-postmeta-box a,
#recent-posts-3 a,
.tagcloud a,
.tl-blog-text h1 a,
.tl-testimonial-chatview-s1 .customNavigation .btn,
.tl-timeline .btn {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.box-shadow-tl,
.owl-prev,
.owl-next {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    -ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.border-radius,
.tl-cp-sidebar2 .widget {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}
.form-group.is-focused label,
.form-group.is-focused label.control-label {
    color: #00bcd4!important;
}
.tl-barWrapper .tooltip-arrow {
    display: block!important;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #EAEAEA;
    border-color: #CCC;
}
.pagination > li > a,
.pagination > li > span {
    border: 1px solid #00bcd4;
    color: #00bcd4;
}
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
    background-color: ##00bcd4;
    border-color: #00bcd4;
}
.carousel-indicators .active { background-color: #e74c3c!important;}
/** button color **/
.button-cyan { background: #00bcd4 none repeat scroll 0 0 !important; color: #fff !important;}
.button-cyan:hover { background: #000 none repeat scroll 0 0 !important;}
.white { color: #fff !important;}

		[class^="tl-btn-"] {
		  cursor: pointer;
		  margin: 0.4em;
		  text-decoration: none;
		}
		.tl-btn-shutter-out-horizontal {
		  background: #e74c3c none repeat scroll 0 0;
		  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		  position: relative;
		  transform: perspective(1px) translateZ(0px);
		  transition-duration: 0.3s;
		  transition-property: color;
		  vertical-align: middle;
		}
		.tl-btn-shutter-out-horizontal::before {
		  background: #222222 none repeat scroll 0 0;
		  bottom: 0;
		  content: "";
		  left: 0;
		  position: absolute;
		  right: 0;
		  top: 0;
		  transform: scaleX(0);
		  transform-origin: 50% 50% 0;
		  transition-duration: 0.3s;
		  transition-property: transform;
		  transition-timing-function: ease-out;
		  z-index: -1;
		}
		.tl-btn-shutter-out-horizontal:hover, .tl-btn-shutter-out-horizontal:focus, .tl-btn-shutter-out-horizontal:active {
		  color: #ffffff;
		  text-decoration: none;
		}


.tl-section-heading > span { color: #00bcd4;}
.tl-section-subheading { text-align: center;}
.tl-section-heading.text-left { text-align: left;}
.tl-section-heading.text-right { text-align: right;}
.tl-section-subheading.text-left { text-align: left;}
.tl-section-subheading.text-right { text-align: right;}

/** inherit nav css **/
.navbar, .navbar.navbar-default { background-color: inherit !important; color: inherit; }
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a  {color: inherit;}

/** tl-breadcrumb-style1 **/

.tl-breadcrumb-style1, .tl-breadcrumb-page-title { float: left; width: 100%;}
.tl-breadcrumb-style1 .tl-breadcrumb { margin-bottom: 10px; padding:0 0 10px 0 !important; background: transparent;}
.tl-breadcrumb-style1 .tl-breadcrumb a {color: #999999;}
.tl-breadcrumb-style1 .tl-breadcrumb a:hover {color: #E74C3C;}

/** header top background-color **/

				/** background-color **/
	.color-turquoise { background: #1abc9c none repeat scroll 0 0;}
	.color-greensea {background:#16a085 none repeat scroll 0 0;}
	.color-sunflower {background:#f1c40f none repeat scroll 0 0;}
	.color-orange {background:#f39c12 none repeat scroll 0 0;}
	.color-emrald {background:#2ecc71 none repeat scroll 0 0;}
	.color-nephritis {background:#27ae60 none repeat scroll 0 0;}
	.color-carrot {background:#e67e22 none repeat scroll 0 0;}
	.color-pumpkin {background:#d35400 none repeat scroll 0 0;}
	.color-peterriver {background:#3498db none repeat scroll 0 0;}
	.color-belizehole {background:#2980b9 none repeat scroll 0 0;}
	.color-alizarin {background:#e74c3c none repeat scroll 0 0;}
	.color-pomegranate {background:#c0392b none repeat scroll 0 0;}
	.color-amethyst {background:#9b59b6 none repeat scroll 0 0;}
	.color-wisteria {background:#8e44ad none repeat scroll 0 0;}
	.color-cloud {background:#ecf0f1 none repeat scroll 0 0;}
	.color-silver {background:#bdc3c7 none repeat scroll 0 0;}
	.color-wetasphalt {background:#34495e none repeat scroll 0 0;}
	.color-midnightblue {background:#2c3e50 none repeat scroll 0 0;}
	.color-concrete {background:#95a5a6 none repeat scroll 0 0;}
	.color-asbestos {background:#7f8c8d none repeat scroll 0 0;}
	
	
	.color-cyan {background:#00BCD4 none repeat scroll 0 0;}
	.color-brown {background:#795548 none repeat scroll 0 0;}
	.color-teal {background:#009688 none repeat scroll 0 0;}
	.color-grey {background:#9E9E9E none repeat scroll 0 0;}
	.color-green {background:#4CAF50 none repeat scroll 0 0;}
	.color-lightgreen {background:#8BC34A none repeat scroll 0 0;}
	.color-lime {background:#CDDC39 none repeat scroll 0 0;}
	.color-yellow {background:#FFEB3B none repeat scroll 0 0;}
	.color-amber {background:#FFC107 none repeat scroll 0 0;}
	.color-grey {background:#9E9E9E none repeat scroll 0 0;}
	.color-darkgrey {background:#444444 none repeat scroll 0 0;}
	.color-mignightblack {background:#222222 none repeat scroll 0 0;}
	.color-black {background:#000 none repeat scroll 0 0;}
	.color-white {background:#FFF none repeat scroll 0 0;}
	
	
	
				/** fonts Color **/
	
	
	.font_turquoise, .font_turquoise a, .font_turquoise > a > i  { color: #1abc9c;}
	.font_greensea, .font_greensea a, .font_greensea > a > i  {color:#16a085;}
	.font_sunflower, .font_sunflower a, .font_sunflower > a > i   {color:#f1c40f;}
	.font_orange, .font_orange a, .font_orange > a > i  {color:#f39c12;}
	.font_emrald, .font_emrald a, .font_emrald > a > i   {color:#2ecc71;}
	.font_nephritis, .font_nephritis a, .font_nephritis > a > i   {color:#27ae60;}
	.font_carrot, .font_carrot a, .font_carrot > a > i  {color:#e67e22;}
	.font_pumpkin, .font_pumpkin a, .font_pumpkin > a > i  {color:#d35400;}
	.font_peterriver, .font_peterriver a, .font_peterriver > a > i  {color:#3498db;}
	.font_belizehole, .font_belizehole a, .font_belizehole > a > i  {color:#2980b9;}
	.font_alizarin, .font_alizarin a, .font_alizarin > a > i  {color:#e74c3c;}
	.font_pomegranate, .font_pomegranate a, .font_pomegranate > a > i  {color:#c0392b;}
	.font_amethyst, .font_amethyst a, .font_amethyst > a > i  {color:#9b59b6;}
	.font_wisteria, .font_wisteria a, .font_wisteria > a > i   {color:#8e44ad;}
	.font_cloud, .font_cloud a, .font_cloud > a > i  {color:#ecf0f1;}
	.font_silver, .font_silver a, .font_silver > a > i  {color:#bdc3c7;}
	.font_wetasphalt, .font_wetasphalt a, .font_wetasphalt > a > i  {color:#34495e;}
	.font_midnightblue, .font_midnightblue a, .font_midnightblue > a > i   {color:#2c3e50;}
	.font_concrete, .font_concrete a, .font_concrete > a > i  {color:#95a5a6;}
	.font_asbestos, .font_asbestos a, .font_asbestos > a > i  {color:#7f8c8d;}
	
	
	.font_cyan, .font_cyan a, .font_cyan > a > i  {color:#00BCD4;}
	.font_brown, .font_brown a, .font_brown > a > i  {color:#795548;}
	.font_teal, .font_teal a, .font_teal > a > i  {color:#009688;}
	.font_grey, .font_grey a, .font_grey > a > i  {color:#9E9E9E;}
	.font_green, .font_green a, .font_green > a > i  {color:#4CAF50;}
	.font_lightgreen, .font_lightgreen a, .font_lightgreen > a > i  {color:#8BC34A;}
	.font_lime, .font_lime a, .font_lime > a > i   {color:#CDDC39;}
	.font_yellow, .font_yellow a, .font_yellow > a > i   {color:#FFEB3B;}
	.font_amber, .font_amber a, .font_amber > a > i   {color:#FFC107;}
	.font_grey, .font_grey a, .font_grey > a > i  {color:#9E9E9E;}
	.font_darkgrey, .font_darkgrey a, .font_darkgrey > a > i    {color:#444444;}
	.font_mignightblack, .font_mignightblack a, .font_mignightblack > a > i   {color:#222222;}
	.font_black, .font_black a, .font_black > a > i  {color:#000;}
	.font_white, .font_white a, .font_white > a > i   {color:#FFF;}	  
		

/**global Style **/

/** global Style button bounce-to-right **/
[class^="tl-btn-"] {
  color: #ffffff;
  cursor: pointer;
  margin: 0.4em;
  padding: 0.7em 1em;
  text-decoration: none;
}

/* Shutter Out Horizontal */
.tl-btn-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #E74C3C;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.tl-btn-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.tl-btn-shutter-out-horizontal:hover, .tl-btn-shutter-out-horizontal:focus, .tl-btn-shutter-out-horizontal:active {
  color: white;
}
.tl-btn-shutter-out-horizontal:hover:before, .tl-btn-shutter-out-horizontal:focus:before, .tl-btn-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/** global Style button bounce-to-right End **/


/** header top background-color phone no and social media section**/



/*** navbar header section ***/
.tl-nav-right-icon.tl-mobile { display: none;}
.tl-navigation-inner { position: relative;}
.nav-right-icon.pull-right {  padding-right: 50px;}
.tl-nav-right-icon { position: absolute;  right: 0;  top: 0;}
.search-car,
.login-car-user { display: inline-block;}
.search-car a,
.login-car-user a {
    display: block;
    font-size: 14px;
    line-height: 50px;
    padding: 0 6px;
}
/** slider section **/
.tl_slider_content h1 {text-transform: uppercase;}
.tl-slider-slide h2 { background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0; display: block; font-size: 34px; padding: 5px 15px; text-transform: uppercase;}
.text-center strong { color: #f44c67;}
.tl-full-slider .carousel-control.left span,
.tl-full-slider .carousel-control.right span { background-color: #E74C3C!important; color: #FFF!important;}
.tl-slider-slide .item img {  min-height: 120px;}

.tl_slider_content h1 strong {color: #1abc9c;}
/** fixed slider section **/

.tl-slider-fix-back2 { color: #FFF;}
.tl-slider-fix-back2 strong { color: #1abc9c;}
.tl-slider-fix-back2 h4 {  font-size: 1.3rem;}
.tl-slider-fix-back2 h1 { font-family: "ubuntu", sans-serif !important; text-transform: uppercase;}



/** no -result found **/
.tl-search-nothing-found { text-align: center;}
.search-image i {  border-radius: 50%;  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);  color: #E74C3C;  display: inline-block;
    font-size: 8em;  margin: 4% 0;  padding: 3%; text-align: center;}
.tl-search-nothing-found .page-content .search-form { position: relative; }
.tl-search-nothing-found .page-content .search-form .search-field {
  padding-right: 70px;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   -ms-border-radius: 0;
   border-radius: 0;
   }
.tl-search-nothing-found .page-content .search-form .search-submit { border-radius: 0; border: solid 1px #E74C3C; position: absolute; right: 0; top: 0;
  background: #E74C3C;
    color: #FFF;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;}
.tl-search-nothing-found .page-content .search-form .search-submit:hover { border-radius: 0; position: absolute; right: 0; top: 0; background: #000; border: solid 1px #000;}
.tl-footer-parallax-bottom {  text-align: -webkit-center; text-align: center;}

/**responsive style ***/

@media only screen and (min-width: 768px) {
    .nav-searchicon.tl-mobile {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .tl-fixedsticky-navbar .container {
        width: 95%;
    }
    .tl-page-title h1 {
        color: #bbb;
        font-size: 24px;
        margin: 4px 0;
    }
    .tl-call-2action-1.dark-1 .btn {
        margin-left: 0;
    }
    .tl-postslide-dark h3 {
        min-height: 58px;
        .tl-social {
            border-top: 1px solid #555;
            text-align: center;
            width: 100%;
        }
    }
	
	/** topnavi wrapper **/
	.tl-top-naviwrap .pull-right, .tl-top-naviwrap .pull-left {float: inherit !important;text-align: center;}
	
}
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        .tl-slider-slide h2 { margin-bottom: 2px; }
        .tl-google-map { margin-top: 12%;}
        .tl-google-map i { left: 42%; }
        .tl-contact-title h5 { padding: 0;}
        .tl-phone { text-align: center;}
        .tl-phones a { line-height: 20px;}
    }
    /**responsive style ***/
    
    @media(max-width: 479px) {
        .tl-full-slider .tl-header-text h6 {  margin-top: 0;}
		
		/**post slider **/
		.parallax21 .carosual-db-content blockquote { font-size: 13px; margin: 0 0 10px;padding: 0 8px;}
		.parallax21 .carosual-db-content h3 { margin-top: 10px;}
		
        }		
		


