a.nav-tab {
	margin-bottom: -4px;
}

#tl-seo-general {
	width:  100%;
	height: 250px;
}

#tl-seo-advance input[type="text"] {
	width:         100%;
	margin-bottom: 10px;
}

#tl-seo-social label {
	font-weight: bold;
}

.tl-seo-table th{
	font-size: 13px;
    width: 144px !important;
}

.tlseosnippet{
	font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
}

.tlseosnippet #tlseosnippet_title{
    color: #1e0fbe;
    display: block;
    font-size: 18px !important;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 512px;
}

.tlseosnippet a{
    text-decoration: none !important;
}

.tlseosnippet .url {
    color: #006621;
    font-size: 13px;
    line-height: 16px;
}

.tl-seo-table p{
	font-family: Arial,Helvetica,sans-serif;
	font-style:italic !important;
	font-size:10px !important;
	font-weight:100 !important;
}

input[type="text"]{
	width:99% !important;
}

textarea{
	width: 99% !important;
}
.seo-tab{
	cursor:pointer;
}
.tl-seo-content{
    background-color: #fdfdfd;
    border: 1px solid #ddd;
    display: block;
    overflow: auto;
    padding: 0.5em 0.9em;
}
.general{
	display:block;
}
.advanced, .social{
	display:none;
}