
 
 /** global style **/
 
 a:focus, a:hover { color: #E74C3C; text-decoration:none;}
a {color: #333333;}

 .transition, .footer-middle .nav li a, .footer-middle .nav .cat-item a, .tl-404-page .search-submit, .shutter-out-horizontal, .contact-info .ci-icons i, .contact-info .ci-icons, a:focus, a:hover, .tl-instagram-feed li a, .follow a, .tl-cp-sidebar2 .widget_tl-social_share ul li a:hover, .tl-contact-info-wrapper .wpcf7-form-control.wpcf7-submit    {
	 -webkit-transition: all 0.3s ease-in-out 0s;
	 -moz-transition: all 0.3s ease-in-out 0s;
	 -ms-transition: all 0.3s ease-in-out 0s;
	 transition: all 0.3s ease-in-out 0s;
	 }
 /** 
 ------------------------------------------------------------------
	clean loading 
 ------------------------------------------------------------------
 **/
#tl-clean-loading{background-color: #222 ;height: 100%;width: 100%;position: fixed;z-index: 99999;margin-top: 0px;top: 0px;}
#loading-center{width: 100%;height: 100%;position: relative;}
#loading-center-absolute {position: absolute;left: 50%;top: 50%;height: 20px;width: 100px;margin-top: -10px;margin-left: -50px;}
.object{ width: 20px; height: 20px; background-color: #E74C3C;-moz-border-radius: 50% 50% 50% 50%;-webkit-border-radius: 50% 50% 50% 50%;border-radius: 50% 50% 50% 50%;margin-right: 20px;margin-bottom: 20px;position: absolute;	}


#object_one{
	-webkit-animation: object 2s linear infinite;
	 animation: object 2s linear infinite;
	 }
#object_two{ 
	-webkit-animation: object 2s linear infinite -.4s;
	animation: object 2s linear infinite -.4s;
	 }
#object_three{ 
	-webkit-animation: object 2s linear infinite -.8s; 
	animation: object 2s linear infinite -.8s; 
	}
#object_four{ 
	-webkit-animation: object 2s linear infinite -1.2s;
	animation: object 2s linear infinite -1.2s; 
	} 
#object_five{ 
	-webkit-animation: object 2s linear infinite -1.6s; 
	animation: object 2s linear infinite -1.6s; 
	}
		
@-webkit-keyframes object{
  0% { left: 100px; top:0}
  80% { left: 0; top:0;}
  85% { left: 0; top: -20px; width: 20px; height: 20px;}
  90% { width: 40px; height: 15px; }
  95% { left: 100px; top: -20px; width: 20px; height: 20px;}
  100% { left: 100px; top:0; }		
	
}		
@keyframes object{
  0% { left: 100px; top:0}
  80% { left: 0; top:0;}
  85% { left: 0; top: -20px; width: 20px; height: 20px;}
  90% { width: 40px; height: 15px; }
  95% { left: 100px; top: -20px; width: 20px; height: 20px;}
  100% { left: 100px; top:0; }
}	
	
 	
/**  ------------------------------------------------------------------
	end clean loading
 ------------------------------------------------------------------ **/

 /**  	
 ------------------------------------------------------------------
	scroll to top
 ------------------------------------------------------------------
 **/

#scroll-top {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color: #34495e;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
	Z-index: 99999;
}
#scroll-top span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff
}
#scroll-top:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
@media screen and (max-width: 767px) {	
	#scroll-top { width:34px; height:34px; Z-index: 99999;}
}
/** 
 ------------------------------------------------------------------
	scroll to top end 
 ------------------------------------------------------------------

**/


 
 /*** tl-top-naviwrap section ***/
.tl-phones ul,
.tl-social ul { margin: 0; padding: 0;}
.tl-phones li,
.tl-social li { display: inline-block;list-style: outside none none; vertical-align: top;}
.tl-phones a { font-weight: normal; padding-right: 20px; display: block; line-height: 30px;}
.tl-social a { font-weight: normal; padding: 0px 10px; display: block; line-height: 30px; text-align: center;}
.tl-phone i {margin-right: 6px;}
.tl-social a:hover { background: #E74C3C; color: #fff;}
.tl-social a:hover i { color: #fff;}
.tl-phone a:hover {color: #E74C3C;}
/** navbar **/
.tl-main-navbar-wrapper .navbar { min-height: 70px;}
.tl-main-navbar-wrapper .navbar-nav > li > a { font-weight: 600; line-height: 60px; text-transform: uppercase;}
.tl-main-navbar-wrapper .navbar-brand {
  height: 90px;
  line-height: 60px;
}
.navbar-default{ border: none !important; border-radius: 0 !important;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {background-color: rgba(255,255,255,0.2); color:inherit;}

.navbar-default .navbar-toggle { border-color: #333333;}
.navbar-toggle { background-color: #333333;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: #000; border-color: #000;}
.navbar-brand .site-title { font-size: 50px; font-weight: bold; line-height: 60px;}
/** navbar dropdown **/
.navbar-nav  .dropdown-menu > li > a {color: inherit;}
.navbar-nav li:hover .dropdown-menu {display: block; padding: 0px;}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {color: #FFF !important;text-decoration: none; background:rgba(255, 255, 255, 0.3) !important;}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover { background-color: rgba(255, 255, 255, 0.3);}

@media screen and (max-width: 767px){
.tl-main-navbar-wrapper .navbar { min-height: inherit;}
.tl-main-navbar-wrapper .navbar-brand { height: inherit; line-height: inherit;}
.tl-main-navbar-wrapper .navbar-nav > li > a {line-height: inherit;}
.tl-croporate-nav-inner .pull-right { float: inherit !important;}
.navbar-toggle { margin-top: 14px;}
.navbar-brand .site-title { font-size: 28px;   line-height: 30px;}
}
/**------------------------------------------------------- 
footer section 
-------------------------------------------------------**/

/**footer Middle **/
.tl-footer-logoimage img { margin-bottom: 10px; margin-top: 5%; max-width: 200px;}
.footer-middle .nav li a {padding: 8px 0;}
.footer-middle .nav li a:hover {background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0; padding: 8px 4px;}
.footer-middle h3 {position: relative;}
/**footer Middle **/
.footer-bottom { background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0; border-top: 1px solid rgba(0, 0, 0, 0.5); padding: 14px 0;} 
.footer-middle .post-date { font-size: 12px; font-style: italic; opacity: 0.6;}
.site-footer a:hover{ color: #e74c3c;}

.widget_tag_cloud .tagcloud a {
  border: 1px solid;
  display: inline-block;
  margin-bottom: 2px;
  padding: 2px 4px;
}
  /** instagram footer **/
  .site-footer-inner .tl-instagram-feed .instagram-pics li {
  overflow: hidden;
}
.site-footer-inner .tl-instagram-feed .instagram-pics li img {
  border-radius: 100%;
  padding: 4px;
}

.site-footer .follow a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid;
  font-weight: 300;
}
@media only screen and (min-width: 1024px){
	.widget_tag_cloud .tagcloud a {
     font-size: 12px !important;
     }
.widget_tag_cloud .tagcloud a:nth-child(2){ font-size:18px!important;}
.widget_tag_cloud .tagcloud a:nth-child(6){ font-size:16px!important;}
.widget_tag_cloud .tagcloud a:nth-child(7){ font-size:17px!important;}
.widget_tag_cloud .tagcloud a:nth-child(4){ font-size:14px!important;}
}
/***--------------------------------------------------- End Footer Section ---------------------------------------------------***/
  
/** INNER PAGE TITLE SECTION **/
		.main-content-inner { border-right: 1px dashed #ddd; padding-bottom: 1.5em;}
		.tlpb{ background-color:#FFF;}
		.tl-page-rightsidebar, .tl-page-leftsidebar, .tl-page-fullwidth, .main-content-padding, .tl-404-page { padding: 2% 0;}
		.single-content-post-wrapper .entry-meta { border-bottom: 1px dashed #999999;margin: 2% 0;padding: 6px 0;}
		.single-content-post-wrapper, .tl-archive-inner-left .entry-summary, .search-results .tl-cp-main-search .entry-summary { box-shadow: inherit !important;}
		.tl-page-leftsidebar .entry-content, .tl-page-rightsidebar .entry-content, .tl-cp-main-left1  .entry-content { box-shadow: inherit !important;}
		.single .posted-on::before {content: ""; font-family: fontawesome;padding-right: 5px;}
		
		.tl-cp-main-left1 .entry-content > ul { list-style: inside none disc; margin-left: 16px;}

		.tl-archive-inner-left h1, .tl-cp-main-search h1 { color: #333333; font-size: 24px; font-weight: 400; margin: 0 0 2%;}
		.tl-archive-inner-left .entry-content-thumbnail, .tl-cp-main-search .entry-content-thumbnail { margin-bottom: 20px;}
		.archive .entry-meta, .search-results .entry-meta { margin-bottom: 2%;}
		.archive .entry-summary p, .search-results .entry-summary p {border-left: 3px solid #cccccc; padding-left: 2%;}
		.archive .tl-archive-inner-left article {border-bottom: medium double #eee; margin-bottom: 6%; padding-bottom: 3%;}
		.tl-blog-readmore-btn { margin-bottom: 20px;}
		.tl-blog-readmore-btn a { margin:0.4em 0;}
		.archive footer.entry-meta a { border: 1px solid #cccccc;padding: 2px 6px; font-weight: normal;}
		.archive footer.entry-meta { font-weight: 600;}
		
		/**page title main heading **/
		.archive-page-header h1, .tl-search-outer-wrapper .archive-page-header h1 { color: #999999; display: inline-block; font-size: 28px; letter-spacing: -1px;margin: 10px 0;text-transform: capitalize;  vertical-align: middle;}
		.archive-page-header, .tl-search-outer-wrapper .archive-page-header { border-bottom: 1px solid #f1f1f1;}

		
		.tl-page-header h1, .tl-search-outer-wrapper .gallery-page-header h1, .tl-single-outer-wrapper .team-page-header h1, .tl-single-outer-wrapper .post-page-header h1, .contact-page-header h1{ color: #999999; display: inline-block; font-size: 22px; letter-spacing: -1px;margin: 10px 0;text-transform: capitalize;  vertical-align: middle;}
		.tl-page-header, .tl-search-outer-wrapper .gallery-page-header, .tl-single-outer-wrapper .team-page-header, .tl-single-outer-wrapper .post-page-header, .contact-page-header { background: #f2f2f2 none repeat scroll 0 0;}
		
		
		/** contact form **/
		.tl-contact-title h2 {font-weight: bold;}
		.tl-contact-title {	margin-bottom: 4%;text-align: center;}
		.tl-contact-info-wrapper input, .tl-contact-info-wrapper textarea { font-weight: normal;}
		.tl-contact-info-wrapper .wpcf7-form-control-wrap .wpcf7-textarea { border: 1px solid #cccccc;  height: 70px; padding: 4px 8px; resize: none;  width: 100%;}
		.tl-contact-info-wrapper .wpcf7-form .wpcf7-form-control { background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: medium none;}
		.tl-message-block label { width: 100%;}
		.tl-contact-info-wrapper .wpcf7-form-control-wrap input { border: 1px solid #cccccc !important; line-height: 20px; margin-bottom: 10px; padding: 4px 8px; width: 100%;}
		.tl-contact-info-wrapper .wpcf7-form-control-wrap .wpcf7-textarea { border: 1px solid #cccccc;height: 70px;padding: 4px 8px; resize: none; width: 100%;}
		.shutter-out-horizontal { background: #E74C3C none repeat scroll 0 0 !important; color: #ffffff; display: inline-block; padding: 8px 16px; vertical-align: middle; font-weight: 500;}
		.shutter-out-horizontal:hover { background: #000 none repeat scroll 0 0 !important; color: #ffffff; }
		.tl-address-block h3, .tl-message-block h3 { font-weight: bold;}
		.tl-contact-info-wrapper h3 { font-size: 18px;font-weight: 700;margin-bottom: 5%;}
		
		.contact-info .ci-icons { background-color: #ffffff; color: #ff5252; display: inline-block;height: 35px; left: 0; line-height: 35px; position: absolute; text-align: center; top: 0; width: 35px; border: solid 2px #E74C3C; }
		.contact-info { margin-bottom: -20px;padding-left: 0;}
		.contact-info li { display: block; list-style: outside none none; margin-bottom: 23px; padding-left: 55px;  position: relative;}
		.contact-info li address {display: inline-block;vertical-align: middle;}
		.contact-info li a, .contact-info li address { color: #757575; font-family: "Roboto",sans-serif; font-size: 13px; font-weight: 400; line-height: 1.7; margin-top: 7px; overflow: hidden;}
		.contact-info .ci-icons i { color: #E74C3C; font-size: 16px; transition: all 0.3s ease 0s;}
		.contact-info li:hover .ci-icons { background: #000;  border: solid 2px #000;}
		.contact-info li:hover .ci-icons i {color: #FFF;}
		.tl-google-map {background: darkorange none repeat scroll 0 0;height: 2px;position: relative;z-index: 1;}
		.tl-google-map i {  background: darkorange none repeat scroll 0 0; color: #FFF; cursor: pointer; font-size: 2.6em; height: 50px; left: 50%; line-height: 52px; position: absolute; text-align: center; top: -24px; transform: translate(-24px, 0%); transition: all 0.3s ease 0s; width: 50px;}
		
			/** contact form default **/
			.tl-contact-info-wrapper .wpcf7-form-control.wpcf7-submit { background: #e74c3c none repeat scroll 0 0; color: #ffffff; padding: 8px 16px;}
			.tl-contact-info-wrapper .wpcf7-form-control.wpcf7-submit:hover { background: #000 none repeat scroll 0 0 !important; color: #ffffff; }
			.tl-contact-info-wrapper  .tl-form-block, .tl-contact-info-wrapper .tl-message-block {margin-left: -15px; margin-right: -15px;}
		/** -------------------------------------------------------------------------------------------------------------------------------------- **/	
			
		/** sidebar **/
		.sidebar-padder{ padding-left: 3%;}
		.tl-cp-sidebar2 .widget h3::after { background: #EA6254 none repeat scroll 0 0; bottom: -2px; content: ""; height: 2px; left: 0; position: absolute; width: 60px;}
		.sidebar .widget_search label input { border: 1px solid #cccccc; border-radius: 0; height: 40px;}
		.sidebar .widget .nav a { color: #666; font-size: 14px;}
		.sidebar .widget h3 { border-bottom: 3px double #cccccc; font-family: oswald !important; font-size: 16px; font-weight: 300; padding: 2% 2% 3% 26px; position: relative; text-transform: uppercase;}
		
		.tl-cp-sidebar2 .widget_recent_entries  h3::before {color: #777; content: "";font-family: fontawesome; padding-right: 6px; font-size: 18px;  position: absolute; left: 0;}
		.tl-cp-sidebar2 .widget_recent_comments  h3::before {color: #777; content: "";font-family: fontawesome;padding-right: 6px; font-size: 18px;  position: absolute; left: 0;}
		.tl-cp-sidebar2 .widget_archive  .widget-title::before {color: #777;  content: ""; font-family: "Glyphicons Halflings"; font-size: 13px; padding-right: 6px; font-size: 16px;  position: absolute; left: 0;}
		.tl-cp-sidebar2 .widget_categories  h3::before { color: #777;content: ""; font-family: "Glyphicons Halflings"; padding-right: 6px; font-size: 18px;  position: absolute; left: 0;}
		.tl-cp-sidebar2 .widget_meta  h3::before { color: #777; content: ""; font-family: fontawesome; padding-right: 6px; font-size: 18px;  position: absolute; left: 0;}
		.tl-cp-sidebar2 .widget_tlflickrwidget  h3::before { color: #777; content: ""; font-family: fontawesome; padding-right: 6px; font-size: 18px;  position: absolute; left: 0;}
		.tl-cp-sidebar2 .tl-instagram-feed  h3::before { color: #777; content: ""; font-family: fontawesome; padding-right: 6px; font-size: 18px;  position: absolute; left: 0;}
		.tl-cp-sidebar2 .widget_tl-recent_post  h3::before { color: #777; content: ""; font-family: fontawesome; padding-right: 6px; font-size: 18px;  position: absolute; left: 0;}
		.tl-cp-sidebar2 .widget_tl-social_share  h3::before { color: #777; content: ""; font-family: fontawesome; padding-right: 6px; font-size: 18px;  position: absolute; left: 0;}
		
		
		.sidebar .widget ul.nav li a::before {content: ""; font-family: fontawesome;font-weight: bold; left: 0; position: absolute; transition: all 0.3s ease-in-out 0s;}
		.sidebar .widget ul.nav li:hover a::before { left: 6px;}
		.sidebar ul.nav > li > a:focus, .sidebar ul.nav > li > a:hover {text-decoration: none;background-color: #E74C3C;color: #fff !important;  padding-left: 20px;}
		
		/** instagram sidebar **/
		.tl-instagram-feed ul{ padding: 0;}
		.tl-instagram-feed .instagram-pics li { display: inline-table; list-style: outside none none;}

		.tl-instagram-feed .instagram-col-2 li {width: 50%;}
		.tl-instagram-feed .instagram-col-3 li {width: 33.333%;}
		.tl-instagram-feed .instagram-col-4 li {width: 25%;}
		.tl-instagram-feed li a:hover { opacity: 0.5;}
		#tl-instagram-feed-2 .tl-instagram-feed .instagram-pics li { border: 2px solid #ffffff; display: inline-table; list-style: outside none none;}
		.follow a { background: #E74C3C none repeat scroll 0 0; color: #ffffff; display: inline-block; font-weight: 700; padding: 6px 12px; vertical-align: middle;}
		.follow a:hover  { background: #000 none repeat scroll 0 0; color: #ffffff;}
		
		
		/** flickr **/
		/* .tl-flickr-item { display: table-cell; vertical-align: top; width: 25%;} */
		.tl-flickr-item { background: #eaeaea none repeat scroll 0 0; display: inline-block; max-height: 50px; overflow: hidden !important; vertical-align: top; width: 25%;}
		
		
		/** Social share **/
		.tl-cp-sidebar2 .widget_tl-social_share ul {padding-left:0;}
		.tl-cp-sidebar2 .widget_tl-social_share ul li {display: inline-block; list-style: outside none none; width: 20%;}
		.tl-cp-sidebar2 .widget_tl-social_share ul li a { background: rgba(200, 200, 200, 0.2) none repeat scroll 0 0; border: 3px solid #ffffff; display: block; font-size: 3rem; text-align: center;}
		.tl-cp-sidebar2 .widget_tl-social_share ul li a:hover{ background:transparent; }
		
		/** Social links **/
		.tl-cp-sidebar2 .widget_tl-social_link ul {padding-left:0;}
		.tl-cp-sidebar2 .widget_tl-social_link ul li {display: inline-block; list-style: outside none none; width: 20%;}
		.tl-cp-sidebar2 .widget_tl-social_link ul li a { background: rgba(200, 200, 200, 0.2) none repeat scroll 0 0; border: 3px solid #ffffff; display: block; font-size: 3rem; text-align: center;}
		.tl-cp-sidebar2 .widget_tl-social_link ul li a:hover{ background:transparent; }
			
		/** error 404 page **/
		.tl-404-page { background: #ffffff none repeat scroll 0 0;}
		.tl-404-page .main-content-inner {text-align: center;}
		.tl-404-page h1 { color: #e74c3c; font-size: 10rem; font-weight: 700;}
		.tl-404-page h2 { background: #ff9800 none repeat scroll 0 0; border-radius: 3px; color: #ffffff; display: block; padding: 1%; margin-top:0;}
		.tl-404-page .error-404-search { margin: 0 auto; position: relative;}
		.tl-404-page .search-submit { border-radius: 0; background: #E74C3C; border: solid 1px #E74C3C; color: #FFF;}
		.tl-404-page .search-submit:hover { background: #000; border: solid 1px #000; color: #E74C3C; }
		.error-404-search .search-form label { width: auto;}
		.error-404-search .search-form input { border-radius: 0;font-weight: normal; vertical-align: top;}
		.content-padder.error-404.not-found h3 { border-bottom: medium double #b8860b; border-top: medium double #b8860b;display: inline-block; font-size: 32px;font-weight: bold; margin-top: 0; padding: 10px 0; text-transform: uppercase; vertical-align: top;}
		.image-404 { margin: 3% 0;}
		
		/** portfolio **/
		#filters li { display: inline-block; float: inherit !important; vertical-align: middle;}
		#filters {list-style:none; text-align: center;}
		
		/** team single details **/
		.tl-contentsingle-wrapper h1 { font-size: 24px; font-weight: 400; margin: 10px 0;}
		.member-designation { background: #eaeaea none repeat scroll 0 0; display: inline-block; font-weight: 500; margin-bottom: 2%; margin-top: 0; padding: 10px 20px;}
		.single-content-post-wrapper .entry-meta { border-bottom: 1px dashed #999999; margin: 2% 0; padding: 6px 0;}
		.team-social-info ul li a { border-radius: 50%; box-shadow: 0 0 0 1px #cccccc inset; color: #cccccc; display: inline-block; font-size: 16px; height: 30px; line-height: 30px; position: relative; text-align: center; transition: all 0.6s ease-in-out 0s; width: 30px;}
		.team-social-info ul li { display: inline-block; list-style: outside none none; vertical-align: middle;}
		.team-social-info ul { padding: 0;}
		
/** testimonials section dark **/
.accent {color: #ffd700!important;}	
.tl-slide-testimonials .carosual-db-content h5 {color: #ffffff;}
.tl-slide-testimonials .carousel-control .glyphicon-chevron-left, .tl-slide-testimonials .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev { background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important; border: 3px solid #ffd700 !important; color: #ffd700 !important; line-height: 44px !important;}
.tl-db-testi { border: 3px solid #FFF !important;}

/** team dark **/
.team-div {
  background: #faf0e6 none repeat scroll 0 0!important;
}	

/**post slider **/
.parallax21 .carosual-db-content h3 {color: #ffffff;}
.parallax21 .carosual-db-content { color: #eee;}

/** horizontal-tab **/
.tl-horizontal-tab li i {color: #e74c3c;font-size: 17px;}

/*** modules ***/
.tl-feature-block-s2 i {color: #e74c3c;}

/** recent-post wiget **/
.widget_tl-recent_post ul { padding: 0;}
.tl_recent_posts li { list-style: outside none none;  padding: 8px 0;}
.tl-cp-sidebar2 .tl_recent_posts li { border-bottom: 1px solid #dddddd; list-style: outside none none; margin-bottom: 1px; padding: 14px 0;}
.tl_recent_posts .tl_recent_posts_img { display: table-cell; float: left; height: 60px; margin-right: 20px; width: 60px;}
.recent_posts_content { display: table-cell; vertical-align: middle;}

/** recent-comment widget **/
.widget_recent_comments li {
  color: #999999;
}

/** commets-area **/
.comments-area .panel { border-radius: 0;}
.comments-area .panel-default .panel-heading, .comments-area .panel-default .panel-footer { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border-color: #efefef;}
.comments-area .panel-footer { background: rgba(0, 0, 0, 0) none repeat scroll 0 0;}
.comments-area .panel-footer .comment-reply-link { border-radius: 0;}
.comments-area .avatar { border: 1px solid #e5e6e8; padding: 2px;}
.comments-area .panel-default { border-color: #e5e6e8;}
.comments-area li .children .comment { list-style: outside none none;}
.comments-area { border-top: 1px solid #efefef; margin-top: 8%;}
.comments-area .comments-title { font-size: 24px; margin-bottom: 3%;}
.comment-respond { border-top: 1px solid #efefef; margin-top: 6%; padding-top: 2%;}
.comments-area .comment-reply-title { font-size: 18px; font-weight: 700; text-transform: uppercase;}
.comments-area .comment-respond textarea { border-radius: 0; box-shadow: none; max-height: 120px;}
.comment-respond .submit { border-radius: 0;}
.tl-allowed-infotag, .tl-alert-info {display: none;}
.comment-respond .form-group input { border-radius: 0;}
.tl-solve-it > label { background: #efefef none repeat scroll 0 0; display: block; padding: 8px; margin-bottom:0;}
.tl-solve-it { border: 1px solid #cccccc;}
.tl-solve-it .form-inline { padding: 8px;}
.comment-email, .comment-phone {  margin-left: 4%;}
.comment-name, .comment-email, .comment-website, .comment-phone { width: 48%; float: left;}
.comment-name input, .comment-email input, .comment-website inuput, .comment-phone input { height: 40px;}
.tl-solve-it .form-inline .form-group { width: 100%;}
.tl-solve-it .form-inline .form-control { float: right; width: 94%;}
@media only screen and (max-width: 640px){
.tl-solve-it .form-inline .form-control {  width: 88%;}		
}

/** all mis ***/
.tl-accordion-toggle .accordion-toggle {
  background: #e74c3c none repeat scroll 0 0!important;
  color: #ffffff !important;

}
@media only screen and (max-width: 767px){
	.sidebar-padder{ padding-left: 0;}
	.main-content-inner { border-right:none; }
	
}

/*
Welcome to Custom CSS!

To learn how this works, see http://wp.me/PEmnE-Bt
*/




@media screen and (max-width: 800px ) {
	body, .topBoundShadow {
		width: 100%;
	}
	
	.post-type-archive .want-index {
		position: static !important;
		float: left !important;
		clear: none !important;
	}
}

/* END WPCurve - LG #286945769 */
/* WP Curve #152484 - RS - Start */
@media only screen and (max-width: 767px) {
	.post-type-archive .want-index {
		position: relative !important;
		float: left !important;
		clear: none !important;
		left: 0 !important;
		top: 0 !important;
		width: 45%;
		margin-left: 2%;
		margin-right: 1%;
		margin-bottom: 20px;
		display: inline-block;
		height: 270px;
	}
	
	.wanted {
		height: auto !important;
	}
}

/* WP Curve #152484 - RS - End */