.tl-add-widget{
	padding: 15px;
	border: 1px solid #e5e5e5;
	background-color: #fff;
}

.tl-widgets-holder-wrap{
	padding: 0;
	margin: 10px 0px 20px 0;
	max-width: 450px;
}

@media only screen and (min-width: 1250px) {
	.tl-widgets-holder-wrap {
		max-width: 49%;
	}
}

.tl-widgets-holder-wrap h3 {
	line-height: 1.3;
	padding: 0 !important;
	margin-bottom: 15px !important;
}

.tl-widgets-holder-wrap h3:hover{
	cursor: default;
}

.tl-add-widget .submit{
	padding: 10px 0 0;
	margin: 0;
}

.tl-add-widget input[type="text"]{
	width: 100%;
}

.sidebar-tl-custom{
	position: relative;
}

.sidebar-tl-custom .description{
	-webkit-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
}

.tlcs-area-delete {
	cursor: pointer;

	position: absolute;
	width: 25px;
	height: 25px;
	z-index: 50;
	right: 37px;
	top: 23px;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);

	font-size: 1.5em;
	color: #cecece;
}

.tlcs-area-delete .dashicons-no {
	font-size: 25px;
	width: 25px;
	height: 25px;
}

.branch-3-7 .tlcs-area-delete,
.branch-3-6 .tlcs-area-delete,
.branch-3-5 .tlcs-area-delete,
.branch-3-4 .tlcs-area-delete {
	right: 30px;
	top: 10px;
}

.rtl .tlcs-area-delete{
	right: auto;
	left: 30px;
}

.tlcs-area-delete:hover{
	color: #e74c3c;
}

.spinner.activate{
	display: block !important;
	position: absolute;
	top: 10px;
	right: 4px;
	background-color: #ECECEC;
}
.advance_settings_area{
	display:none;
	padding-top:10px;
}