/* Editor
-------------------------------------------------------------- */
.mce-i-tl-grid,
.mce-i-tl-tabs,
.mce-i-tl-collapse,
.mce-i-tl-alerts,
.mce-i-tl-wells,
.mce-i-tl-buttons,
.mce-i-tl-labels,
.mce-i-tl-tooltip,
.mce-i-tl-icons,
.mce-i-tl-lead {
    background: url(../images/dwicons.png) no-repeat !important;
}
.mce-i-tl-grid {
    background-position: -2px -19px !important;
}
.mce-i-tl-tabs {
    background-position: -23px -19px !important;
}
.mce-i-tl-collapse {
    background-position: -44px -19px !important;
}
.mce-i-tl-alerts {
    background-position: -65px -19px !important;
}
.mce-i-tl-wells {
    background-position: -86px -19px !important;
}

.mce-i-tl-buttons {
    background-position: -107px -19px !important;
}

.mce-i-tl-labels {
    background-position: -191px -19px !important;
}
.mce-i-tl-tooltip {
    background-position: -170px -19px !important;
}

.mce-i-tl-icons {
    background-position: -128px -19px !important;
}

.mce-i-tl-lead {
    background-position: -149px -19px !important;
}

.mce-i-tl-vertical-tabs {
	background: url(../images/vertical-tabs.png) no-repeat !important;
}

.mce-i-tl-fa-icon {
	background: url(../images/fa_icon.png) no-repeat !important;
}

.mce-i-tl-pricing-table {
	background: url(../images/dollar.png) no-repeat !important;
}

.mce-i-tl-progress-bar {
	background: url(../images/progressbar.png) no-repeat !important;
}

.mce-i-tl-bootstrap-caraousel {
	background: url(../images/carousal-icon.png) no-repeat !important;
}

.mce-i-tl-item-slider {
	background: url(../images/owl-icon.png) no-repeat !important;
}

i.mce-i-wp_adv::before {
	content: '' !important;
}

.mce-i-wp_adv {
	background: url(../images/themelines.png) no-repeat !important;
}


/* Iframe
-------------------------------------------------------------- */
#tl-wrapper {
    padding: 20px;
}

#tl-wrapper .nav-tabs > .active > a > [class^="icon-"],
#tl-wrapper .nav-tabs > .active > a > [class*=" icon-"] {
    background-image: url("../images/glyphicons-halflings.png");
}

#tl-wrapper .nav-tabs .add-new {
    float: right;
}

#tl-wrapper .nav-tabs li a {
    outline: none;
}

#tl-wrapper .nav-tabs .delete-tab {
    margin: 0 0 0 5px;
    display: none;
    height: 16px;
    line-height: 12px;
    text-align: center;
    width: 16px;
}

#tl-wrapper .nav-tabs .active .delete-tab {
    display: inline-block;
}

#tl-wrapper .nav-tabs .active .delete-tab:hover {
    background: #bbb;
    border-radius: 20px;
    color: #fff;
}

#tl-wrapper .tab-content textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100% !important;
    height: 120px;
    min-height: 120px;
}

#tl-wrapper .tab-content input[type=text],
#tl-wrapper .tab-content select,
#tl-wrapper #tl-grid input[type=number] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    height: 30px;
}

#tl-wrapper #tl-grid form {
    margin: 0;
}

.show-grid.row {
    background-color: #F5F5F5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    border: 1px solid #DDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    position: relative;
    padding: 44px 14px 14px;
}

.show-grid.row:before {
    background-color: #F5F5F5;
    border: 1px solid #DDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Row";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    line-height: 2;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

.show-grid {
    margin-bottom: 20px;
    margin-top: 10px;
}

.show-grid *{
    cursor: pointer;
}

.show-grid h5 {
    font-size: 92%;
    font-weight: normal;
    color: #999;
}

.show-grid [class*="col-"] {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px 3px 3px 3px;
    padding: 10px 10px 0;
    text-align: center;
}

.show-grid [class*="col-"]:hover {
    background: none repeat scroll 0 0 #DDDDDD;
    border-color: #ddd;
}

.show-grid .show-grid {
    margin-bottom: 0;
    margin-top: 0;
}

.show-grid .show-grid [class*="col-"] {
    background-color: #CCCCCC;
}

.show-grid [class*="col-"].active {
    background: #563D7C;
    color: #fff;
    border: 1px solid #fff;
}
.mce-window .mce-window-head {
  background: #333 none repeat scroll 0 0 !important;
  border-bottom: none !important;
}
.mce-window .mce-window-head .mce-close, .mce-window-head .mce-close .mce-i-remove {background: #f44c67 none repeat scroll 0 0 !important;}
.mce-window-head .mce-close .mce-i-remove::before {
  color: #ffffff !important;
}
.mce-window-head .mce-close:focus .mce-i-remove::before, .mce-window-head .mce-close:hover .mce-i-remove::before {
	color: #FFF!important;
}
.mce-window .mce-window-head .mce-title {
	color: #FFF !important;
	font-family: "Open Sans",sans-serif !important;
	font-size: 14px !important;
}
#alert-form .btn-primary {
  background: #333 none repeat scroll 0 0 !important;
  border-color:#333 !important;
  border-radius: 0 !important;
}
#alert-form .btn-primary:hover {
  background: #F44C67 none repeat scroll 0 0 !important;
  border-color:#F44C67 !important;
}
.mce-i-checkbox::before, .mce-i-selected::before {
	content: "\e033";
	color: #F44C67!important;
}