 html, body { height: 100%;  margin: 0px; }
.tl-pb-left{float:left;}
.tl-pb-right{float:right;}
.pull-right {float: right!important}
.pull-left {float: left!important}
.clear{clear:both;}
.tl-page-builder{ margin:0 0 0 0; clear:both;}
.tl-page-builder .tl-pb-menu-panel{ margin:0 0 0 0;}
.tl-page-builder .tl-pb-menu-panel ul.tl-pb-menu-list{ margin:0; padding:0; list-style:none;}
.tl-page-builder .tl-pb-menu-panel ul.tl-pb-menu-list .tl-pb-menu-item{ border-bottom: 1px solid #eeeeee;border-right: 1px solid #eeeeee;/*height: 155px;*/margin-bottom: 0;text-align: center; /*width:24.5%;*/ width: 16.15%; display:inline-block; cursor:pointer;}
.tl-page-builder .tl-pb-menu-panel ul.tl-pb-menu-list .tl-pb-menu-item:last-child{border-right:none;}
.tl-page-builder .tl-pb-menu-panel ul.tl-pb-menu-list .tl-pb-menu-item .tl-pb-menu{background-color: #ffffff;background-position: center center;
background-repeat: no-repeat;background-size: 70px 60px;border: 1px solid #dfdfdf;display: inline-block;height: 74px;margin-left: 25px;
margin-right: 25px;margin-top: 25px;width: 84px; vertical-align:top;}
.tl-page-builder .tl-pb-menu-panel ul.tl-pb-menu-list .tl-pb-menu-item:hover .tl-pb-menu{border: 1px solid #0073aa !important;}
.tl-page-builder .tl-pb-menu-panel ul.tl-pb-menu-list .tl-pb-menu-item h4{ text-align:center; font-size:14px; margin-top:10px; color:#777777;}
.tl-page-builder .tl-pb-menu-panel ul.tl-pb-menu-list .tl-pb-menu-item:hover h4{ color:#545454;}
.tl-page-builder .tl-pb-menu-panel ul.tl-pb-menu-list .tl-pb-menu-item .tl-pb-menu{ /*background:url(../images/text.png) no-repeat 0 0;*/ 
 background-color: #ffffff;background-position: center center;background-repeat: no-repeat;background-size: 70px 60px;border: 1px solid #ddd;display:  inline-block;height: 74px;margin-left: 25px;margin-right: 25px;margin-top: 25px;width: 84px; font-size:48px; line-height:70px; color:#f44c67;}

.tl-page-builder .tl-pb-menu-panel ul.tl-pb-menu-list .tl-pb-menu-item .tl-pb-menu-plus {align-items: center;display: flex;justify-content: center;
padding: 10px;}
.tl-page-builder .tl-pb-menu-panel ul.tl-pb-menu-list .tl-pb-menu-item .tl-pb-menu-plus{height: 74px;visibility: hidden;
width: 84px; font-size:40px; color:#333; position:relative; top:-80px; left:-10px;}
.tl-page-builder .tl-pb-menu-panel ul.tl-pb-menu-list .tl-pb-menu-item:hover .tl-pb-menu-plus {visibility: visible;}
/**************************** page columns part ******************/

a{outline:none; text-decoration:none;}
a:focus{outline:none !important; box-shadow:none;}
.row::after, .row::before{content: " ";display: table;}
.container-fluid {padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto}
.row::after{ clear:both;}
h1, h2, h3{ color:#162c41;}
.tl-pb-row{  }
.row {/*margin-right: -15px;margin-left: -15px*/}
.container-fluid {padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
position: relative;min-height: 1px;/*padding-right: 15px;padding-left: 15px;*/}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {float: left}
.col-xs-12 {width: 100%}
.col-xs-11 {width: 91.66666667%}
.col-xs-10 {width: 83.33333333%}
.col-xs-9 {width: 75%}
.col-xs-8 {width: 66.66666667%}
.col-xs-7 {width: 58.33333333%}
.col-xs-6 {width: 50%}
.col-xs-5 {width: 41.66666667%}
.col-xs-4 {width: 33.33333333%}
.col-xs-3 {width: 25%}
.col-xs-2 {width: 16.66666667%}
.col-xs-1 {width: 8.33333333%}
.col-xs-pull-12{right: 100%}
.col-xs-pull-11{right: 91.66666667%}
.col-xs-pull-10{right: 83.33333333%}
.col-xs-pull-9{right: 75%}
.col-xs-pull-8{right: 66.66666667%}
.col-xs-pull-7{right: 58.33333333%}
.col-xs-pull-6{right: 50%}
.col-xs-pull-5{right: 41.66666667%}
.col-xs-pull-4{right: 33.33333333%}
.col-xs-pull-3{right: 25%}
.col-xs-pull-2{right: 16.66666667%}
.col-xs-pull-1{right: 8.33333333%}
.col-xs-pull-0{right: auto}
.col-xs-push-12 {left: 100%}
.col-xs-push-11 {left: 91.66666667%}
.col-xs-push-10 {left: 83.33333333%}
.col-xs-push-9 {left: 75%}
.col-xs-push-8 {left: 66.66666667%}
.col-xs-push-7 {left: 58.33333333%}
.col-xs-push-6 {left: 50%}
.col-xs-push-5 {left: 41.66666667%}
.col-xs-push-4 {left: 33.33333333%}
.col-xs-push-3 {left: 25%}
.col-xs-push-2 {left: 16.66666667%}
.col-xs-push-1 {left: 8.33333333%}
.col-xs-push-0 {left: auto}
.col-xs-offset-12 {margin-left: 100%}
.col-xs-offset-11 {margin-left: 91.66666667%}
.col-xs-offset-10 {margin-left: 83.33333333%}
.col-xs-offset-9 {margin-left: 75%}
.col-xs-offset-8 {margin-left: 66.66666667%}
.col-xs-offset-7 {margin-left: 58.33333333%}
.col-xs-offset-6 {margin-left: 50%}
.col-xs-offset-5 {margin-left: 41.66666667%}
.col-xs-offset-4 {margin-left: 33.33333333%}
.col-xs-offset-3 {margin-left: 25%}
.col-xs-offset-2 {margin-left: 16.66666667%}
.col-xs-offset-1 {margin-left: 8.33333333%}
.col-xs-offset-0 {margin-left: 0}
.col-xs-12 {width: 100%}
.col-xs-11 {width: 91.66666667%}
.col-xs-10 {width: 83.33333333%}
.col-xs-9 {width: 75%}
.col-xs-8 {width: 66.66666667%}
.col-xs-7 {width: 58.33333333%}
.col-xs-6 {width: 50%}
.col-xs-5 {width: 41.66666667%}
.col-xs-4 {width: 33.33333333%}
.col-xs-3 {width: 25%}
.col-xs-2 {width: 16.66666667%}
.col-xs-1 {width: 8.33333333%}
@media (min-width:768px) {
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {float: left}
.col-sm-12 {width:100%}
.col-sm-11 {width: 91.66666667%}
.col-sm-10 {width: 83.33333333%}
.col-sm-9 {width: 75%}
.col-sm-8 {width: 66.66666667%}
.col-sm-7 {width: 58.33333333%}
.col-sm-6 {width: 50%}
.col-sm-5 {width: 41.66666667%}
.col-sm-4 {width: 33.33333333%}
.col-sm-3 {width: 25%}
.col-sm-2 {width: 16.66666667%}
.col-sm-1 {width: 8.33333333%}
.col-sm-pull-12 {right: 100%}
.col-sm-pull-11 {right: 91.66666667%}
.col-sm-pull-10 {right: 83.33333333%}
.col-sm-pull-9 {right: 75%}
.col-sm-pull-8 {right: 66.66666667%}
.col-sm-pull-7 {right: 58.33333333%}
.col-sm-pull-6 {right: 50%}
.col-sm-pull-5 {right: 41.66666667%}
.col-sm-pull-4 {right: 33.33333333%}
.col-sm-pull-3 {right: 25%}
.col-sm-pull-2 {right: 16.66666667%}
.col-sm-pull-1 {right: 8.33333333%}
.col-sm-pull-0 {right: auto}
.col-sm-push-12 {left: 100%}
.col-sm-push-11 {left: 91.66666667%}
.col-sm-push-10 {left: 83.33333333%}
.col-sm-push-9 {left: 75%}
.col-sm-push-8 {left: 66.66666667%}
.col-sm-push-7 {left: 58.33333333%}
.col-sm-push-6 {left: 50%}
.col-sm-push-5 {left: 41.66666667%}
.col-sm-push-4 {left: 33.33333333%}
.col-sm-push-3 {left: 25%}
.col-sm-push-2 {left: 16.66666667%}
.col-sm-push-1 {left: 8.33333333%}
.col-sm-push-0 {left: auto}
.col-sm-offset-12 {margin-left: 100%}
.col-sm-offset-11 {margin-left: 91.66666667%}
.col-sm-offset-10 {margin-left: 83.33333333%}
.col-sm-offset-9 {margin-left:75%}
.col-sm-offset-8 {margin-left:66.66666667%}
.col-sm-offset-7 {margin-left:58.33333333%}
.col-sm-offset-6 {margin-left:50%}
.col-sm-offset-5 {margin-left:41.66666667%}
.col-sm-offset-4 {margin-left:33.33333333%}
.col-sm-offset-3 {margin-left:25%}
.col-sm-offset-2 {margin-left:16.66666667%}
.col-sm-offset-1 {margin-left:8.33333333%}
.col-sm-offset-0 {margin-left:0}

}

@media (min-width:992px) {
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {float: left}
.col-md-12 {width: 100%}
.col-md-11 {width: 91.66666667%}
.col-md-10 {width: 83.33333333%}
.col-md-9 {width: 75%}
.col-md-8 {width: 66.66666667%}
.col-md-7 {width: 58.33333333%}
.col-md-6 {width: 50%}
.col-md-5 {width: 41.66666667%}
.col-md-4 {width: 33.33333333%}
.col-md-3 {width: 25%}
.col-md-2 {width: 16.66666667%}
.col-md-1 {width: 8.33333333%}
.col-md-pull-12 {right: 100%}
.col-md-pull-11 {right: 91.66666667%}
.col-md-pull-10 {right: 83.33333333%}
.col-md-pull-9 {right: 75%}
.col-md-pull-8 {right: 66.66666667%}
.col-md-pull-7 {right: 58.33333333%}
.col-md-pull-6 {right: 50%}
.col-md-pull-5 {right: 41.66666667%}
.col-md-pull-4 {right: 33.33333333%}
.col-md-pull-3 {right: 25%}
.col-md-pull-2 {right: 16.66666667%}
.col-md-pull-1 {right: 8.33333333%}
.col-md-pull-0 {right: auto}
.col-md-push-12 {left: 100%}
.col-md-push-11 {left: 91.66666667%}
.col-md-push-10 {left: 83.33333333%}
.col-md-push-9 {left:75%}
.col-md-push-8 {left:66.66666667%}
.col-md-push-7 {left:58.33333333%}
.col-md-push-6 {left:50%}
.col-md-push-5 {left:41.66666667%}
.col-md-push-4 {left:33.33333333%}
.col-md-push-3 {left:25%}
.col-md-push-2 {left:16.66666667%}
.col-md-push-1 {left:8.33333333%}
.col-md-push-0 {left:auto}
.col-md-offset-12 {margin-left: 100%}
.col-md-offset-11 {margin-left: 91.66666667%}
.col-md-offset-10 {margin-left: 83.33333333%}
.col-md-offset-9 {margin-left: 75%}
.col-md-offset-8 {margin-left: 66.66666667%}
.col-md-offset-7 {margin-left: 58.33333333%}
.col-md-offset-6 {margin-left: 50%}
.col-md-offset-5 {margin-left: 41.66666667%}
.col-md-offset-4 {margin-left: 33.33333333%}
.col-md-offset-3 {margin-left: 25%}
.col-md-offset-2 {margin-left: 16.66666667%}
.col-md-offset-1 {margin-left: 8.33333333%}
.col-md-offset-0 {margin-left: 0}

}

@media (min-width:1200px) {
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {float: left}
.col-lg-12 {width: 100%}
.col-lg-11 {width: 91.66666667%}
.col-lg-10 {width: 83.33333333%}
.col-lg-9 {width: 75%}
.col-lg-8 {width: 66.66666667%}
.col-lg-7 {width: 58.33333333%}
.col-lg-6 {width: 50%}
.col-lg-5 {width: 41.66666667%}
.col-lg-4 {width: 33.33333333%}
.col-lg-3 {width: 25%}
.col-lg-2 {width: 16.66666667%}
.col-lg-1 {width: 8.33333333%}
.col-lg-pull-12 {right: 100%}
.col-lg-pull-11 {right: 91.66666667%}
.col-lg-pull-10 {right: 83.33333333%}
.col-lg-pull-9 {right: 75%}
.col-lg-pull-8 {right: 66.66666667%}
.col-lg-pull-7 {right: 58.33333333%}
.col-lg-pull-6 {right: 50%}
.col-lg-pull-5 {right: 41.66666667%}
.col-lg-pull-4 {right: 33.33333333%}
.col-lg-pull-3 {right: 25%}
.col-lg-pull-2 {right: 16.66666667%}
.col-lg-pull-1 {right: 8.33333333%}
.col-lg-pull-0 {right: auto}
.col-lg-push-12 {left: 100%}
.col-lg-push-11 {left: 91.66666667%}
.col-lg-push-10 {left: 83.33333333%}
.col-lg-push-9 {left: 75%}
.col-lg-push-8 {left: 66.66666667%}
.col-lg-push-7 {left: 58.33333333%}
.col-lg-push-6 {left: 50%}
.col-lg-push-5 {left: 41.66666667%}
.col-lg-push-4 {left: 33.33333333%}
.col-lg-push-3 {left: 25%}
.col-lg-push-2 {left: 16.66666667%}
.col-lg-push-1 {left: 8.33333333%}
.col-lg-push-0 {left: auto}
.col-lg-offset-12 {margin-left: 100%}
.col-lg-offset-11 {margin-left: 91.66666667%}
.col-lg-offset-10 {margin-left: 83.33333333%}
.col-lg-offset-9 {margin-left: 75%}
.col-lg-offset-8 {margin-left: 66.66666667%}
.col-lg-offset-7 {margin-left: 58.33333333%}
.col-lg-offset-6 {margin-left: 50%}
.col-lg-offset-5 {margin-left: 41.66666667%}
.col-lg-offset-4 {margin-left: 33.33333333%}
.col-lg-offset-3 {margin-left: 25%}
.col-lg-offset-2 {margin-left: 16.66666667%}
.col-lg-offset-1 {margin-left: 8.33333333%}
.col-lg-offset-0 {margin-left: 0}

}

.form-control {background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
color: #555;display: block;font-size: 14px;height: 34px;line-height: 1.42857;padding: 6px 12px;
transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; width: 100%;}
.form-control:focus { border-color: #66afe9;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);outline: 0 none;}
.form-control::-moz-placeholder {color: #999;opacity: 1;}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {background-color: #eee;opacity: 1;}
.form-control[disabled], fieldset[disabled] .form-control {cursor: not-allowed;}
textarea.form-control {height: auto;}



@media not all {

input.form-control[type="date"], input.form-control[type="time"], input.form-control[type="datetime-local"], input.form-control[type="month"] {
line-height: 34px;}
.input-group-sm input[type="date"], .input-group-sm input[type="time"], .input-group-sm input[type="datetime-local"], .input-group-sm input[type="month"], input.input-sm[type="date"], input.input-sm[type="time"], input.input-sm[type="datetime-local"], input.input-sm[type="month"] {
line-height: 30px;}
.input-group-lg input[type="date"], .input-group-lg input[type="time"], .input-group-lg input[type="datetime-local"], .input-group-lg input[type="month"], input.input-lg[type="date"], input.input-lg[type="time"], input.input-lg[type="datetime-local"], input.input-lg[type="month"] {
line-height:46px;}

}

.tl-pb-stage{ margin:10px 0;}
.tl-pb-stage .tl-pb-section{ margin:0 0 30px 0;}
.tl-pb-stage .tl-pb-section .tl-pb-section-black-bar{ background:#333; padding:7px 0; margin-bottom:10px; cursor:move;}
.tl-pb-stage .tl-pb-section .tl-pb-section-black-bar .tl-pb-left-bar{ float:left; width:55%; padding-left:10px; color:#bbbbbb;}
.tl-pb-stage .tl-pb-section .tl-pb-section-black-bar .tl-pb-left-bar h4{ margin:0px 0 0 0; color:#fff; font-size:13px;}
.tl-pb-stage .tl-pb-section .tl-pb-section-black-bar .tl-pb-right-bar{ float:left; width:40%; padding:0px 0 0 0; text-align:right;}
.tl-pb-stage .tl-pb-section .tl-pb-section-black-bar .tl-pb-expand-sec{ float:right; width:3%;}
.tl-pb-stage .tl-pb-section .tl-pb-section-black-bar .tl-pb-expand-sec .tl-pb-expand-link{color:#fff; text-decoration:none;}
.tl-pb-stage .tl-pb-section .tl-pb-section-black-bar .tl-pb-right-bar a{ color:#fff; text-decoration:none; margin-right:10px; font-size:17px;}
.tl-pb-section-content-sortable{ background:url(../images/sortable-background.png) repeat-x center center #333; height:20px; border:1px solid #d9d9d9; cursor:move;}
.tl-pb-section-content-uploader{ border:1px solid #d9d9d9; border-top:none; position:relative;}
.tl-pb-section-content-uploader .tl-pb-section-content-buttons{ position:absolute; top:0px; right:0; background:#eeeeee; border-bottom:1px solid #d9d9d9; z-index:100;}
.tl-pb-section-content-uploader .tl-pb-section-content-buttons a{ color:#f44c67; border-left:1px solid #d9d9d9; font-size:21px; width:45px; height:30px; display:inline-block; text-align:center; padding-top:8px; text-decoration:none;}
.col-sm-1 .tl-pb-section-content-uploader .tl-pb-section-content-buttons a{font-size:14px; width:15px; height:20px; display:inline-block; text-align:center; padding-top:1px;}
.col-sm-2 .tl-pb-section-content-uploader .tl-pb-section-content-buttons a{font-size:17px; width:20px; height:20px; display:inline-block; text-align:center;padding-top:0px !important;}
.col-sm-3 .tl-pb-section-content-uploader .tl-pb-section-content-buttons a{font-size:18px; width:25px; height:25px; display:inline-block; text-align:center;}
.tl-pb-section-content-background{ min-height:200px; text-align:center; position:relative; cursor:pointer; background-position: center center;overflow:hidden;background-repeat: no-repeat; background-size: cover; font-size:65px; line-height:190px; color:#F44C67; transition:all 0.5s ease-in-out;}
.col-sm-1 .tl-pb-section-content-background{ font-size:38px;}
.col-sm-2 .tl-pb-section-content-background{ font-size:42px;}
.col-sm-3 .tl-pb-section-content-background{ font-size:45px;}
.tl-pb-section-content-background:hover{ color:#333;}
.tl-pb-section-content-background span{ display:inline-block; position:absolute; top:38%; left:37%; font-size:70px; color:#ffc7d0;}
.tl-pb-section-content-uploader .tl-pb-popover{ position:absolute; top:25%; right:2%; background:#fafafa;  border:1px solid #d9d9d9;background-clip: padding-box;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); letter-spacing: normal;max-width: 276px;z-index:9999;}

.col-sm-1 .tl-pb-section-content-uploader .tl-pb-popover { right: 2%;  top: 17%;min-width:100px;}
.col-sm-2 .tl-pb-section-content-uploader .tl-pb-popover { right: 2%;  top: 17%;}
.col-sm-1 .tl-pb-section-content-uploader .tl-pb-popover::after, .tl-pb-section-content-uploader .tl-pb-popover::before { left: 48%;}
.col-sm-1 .tl-pb-section-content-uploader .tl-pb-popover::before { margin-left: -13px;}
.col-sm-2 .tl-pb-section-content-uploader .tl-pb-popover::after, .tl-pb-section-content-uploader .tl-pb-popover::before { left:46%;}
.col-sm-2 .tl-pb-section-content-uploader .tl-pb-popover::before { margin-left: -16px;}
.tl-pb-section-content-uploader .tl-pb-popover:after, .tl-pb-section-content-uploader .tl-pb-popover:before {
bottom: 100%;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.tl-pb-section-content-uploader .tl-pb-popover:after {border-color: rgba(250, 250, 250, 0);border-bottom-color: #fafafa;border-width: 10px;margin-left: -10px;}
.tl-pb-section-content-uploader .tl-pb-popover:before {border-color: rgba(0, 0,0, 0);border-bottom-color: #333;border-width: 11px;
margin-left: -11px;}
.tl-pb-section-content-uploader .tl-pb-popover .tl-pb-popover-head{ border-bottom:1px solid #d9d9d9;}
.tl-pb-section-content-uploader .tl-pb-popover .tl-pb-popover-head h4{ background: #333333 none repeat scroll 0 0;
    color: #ffffff;
    font-size: 12px;
    margin: 0;
    padding: 0 0 0 10px; line-height: 34px;
	}
.tl-pb-col.col-sm-2 .tl-pb-section-content-uploader .tl-pb-popover .tl-pb-popover-head h4{ font-size: 9px;}
.tl-pb-col.col-sm-1 .tl-pb-section-content-uploader .tl-pb-popover .tl-pb-popover-head h4{ font-size: 10px; line-height: 18px;}
.tl-pb-col.col-sm-1 .tl-pb-section-content-uploader .tl-pb-popover .tl-pb-popover-head h4 .tl-pb-popover-close{ margin: -18px 0 0; padding: 9px 13px;}
.tl-pb-section-content-uploader .tl-pb-popover .tl-pb-popover-head h4 .tl-pb-popover-close{ color:#FFF; font-weight:bold; background:#f44c67; padding: 0 13px;}
.tl-pb-section-content-uploader .tl-pb-popover .tl-pb-popover-head h4 .tl-pb-popover-close:hover{ color:#f44c67; background:#555;}
/*.tl-pb-section-content-uploader .tl-pb-popover .tl-pb-popover-body{ padding:5px;}*/
.tl-pb-section-content-uploader .tl-pb-popover .tl-pb-popover-body { max-height: 295px; overflow-y: auto; padding: 5px; overflow-x: hidden;}
.tl-pb-section-content-uploader .tl-pb-popover .tl-pb-popover-body .tl-pb-popover-input{ margin:7px 0 5px 0;}
.tl-pb-section-content-uploader:hover .tl-pb-remove-img{ width:40px; height:40px; padding:0 0 0 0; display:block; border:2px solid #222; border-radius:50px;
background:url(../images/remove_img.png) no-repeat 0 0 #eeeeee; z-index:100 !important;  cursor:pointer; text-align:center;}
.tl-pb-col .tl-pb-section-content-text{ border:1px solid #d9d9d9; border-top:none; padding:7px; height:215px; overflow:hidden;}
.tl-pb-col .tl-pb-section-content-text .tl-pb-section-content-text-inner{ cursor:pointer;  font-size:14px; color:#000; overflow:hidden; clip: rect(0px, 0px, 0px, 0px);word-wrap: normal !important; padding-top:19px;}
.tl-pb-section-content-text .tl-pb-section-content-text-title{ margin:0 0 0 0; text-align:center;}
.tl-pb-pop-col{ margin:15px;}
.tl-pb-pop-col label{ margin:0 0 7px 0; display:inline-block; width:100%;}
.tl-pb-gal-row .tl-pb-section-content-text{ display:none;}
.tl-pb-gallery-add-item-link{ padding:0 0 0 0;  display:inline-block;  width: 95.3%; margin: 0 auto 0 15px; }
.tl-pb-gallery-add-item-link .tl-pb-gallery-add-item{border:1px solid #d9d9d9; padding:20px 0 20px 0; text-align:center;margin:15px 0 0 0; font-size:34px; color:#f88699; transition:all 0.4s ease-in-out 0s;}
.tl-pb-gallery-add-item-link .tl-pb-gallery-add-item:hover{ color:#222;}
.tl-pb-gallery-add-item-link .tl-pb-gallery-add-item span{ font-size:36px !important; color:#c0392b;}
.tl-pb-column-add-item-link{ padding:0 0 0 0;  display:inline-block;  width: 100%; /*margin: 0 auto 0 15px;*/ }
.tl-pb-column-add-item-link .tl-pb-column-add-item{border:1px solid #d9d9d9; padding:20px 0 20px 0; text-align:center;margin:15px 0 0 0; font-size:34px; color:#F44C67; transition:all 0.4s ease-in-out 0s;}
.tl-pb-column-add-item-link .tl-pb-column-add-item:hover{ color:#333;}
.tl-pb-column-add-item-link .tl-pb-column-add-item span{ font-size:36px !important; color:#c0392b;}
.tl-pb-full-column-add-item-link{ padding:0 0 0 0;  display:inline-block;  width: 100%; /*margin: 0 auto 0 15px;*/ }
.tl-pb-full-column-add-item-link .tl-pb-full-column-add-item{border:1px solid #d9d9d9; padding:20px 0 20px 0; text-align:center;margin:15px 0 0 0; font-size:34px; color:#F44C67; transition:all 0.4s ease-in-out 0s;}
.tl-pb-full-column-add-item-link .tl-pb-full-column-add-item:hover{ color:#222;}
.tl-pb-full-column-add-item-link .tl-pb-full-column-add-item span{ font-size:36px !important; color:#c0392b;}
.tl-pb-col{margin-bottom:15px;}
.tl-pb-gal-row .tl-pb-col{ margin:15px 0;}
.tl-post-select-part p{padding-left:121px;}

.tl-pb-banner-add-item-link{ padding:0 0 0 0;  display:inline-block;  width: 100%; /*margin: 0 auto 0 15px;*/ }
.tl-pb-banner-add-item-link .tl-pb-banner-add-item{border:1px solid #d9d9d9; padding:20px 0 20px 0; text-align:center;margin:15px 0 0 0; font-size:34px; color:#F44C67; transition:all 0.4s ease-in-out 0s;}
.tl-pb-banner-add-item-link .tl-pb-banner-add-item:hover{ color:#333;}
.tl-pb-banner-add-item-link .tl-pb-banner-add-item span{ font-size:36px !important; color:#c0392b;}

/**************************** page columns part end ******************/

/**************************** page post select part ******************/
.tl-post-select-part{ margin:0 0 0 0;}
.tl-post-select-part ul{ margin:0; padding:0; list-style:none; font-size:0;}
.tl-pb-sec-sett-pop .tl-post-select-part ul{ font-size:0;}
.tl-pb-sec-sett-pop .tl-post-select-part ul li{ width:100%; display:inline-block; margin:0 0 7px 0; vertical-align:top; text-align:left;}
.tl-post-select-part ul li{width: 50%;display: inline-block;margin: 0 0 7px 0;vertical-align: top;}
.tl-post-select-part ul li label{ width:32%; display:inline-block; word-break:keep-all;font-size: 13px;}
.tl-pb-sec-sett-pop .tl-post-select-part ul li .post-text{ width:68%; margin:0px;}
.tl-post-select-part ul li .post-text{ width:40%; margin:0px;}
.tl-post-select-part ul li .post-number{ width:15%;}
.tl-pb-section-post-background{background:#fafafa; border:1px solid #dfdfdf; width:100%; height:200px; text-align:center;
background-position:center; background-size:cover;background-repeat: no-repeat; box-sizing:border-box;position: relative; display: block; cursor:pointer; font-size:50px; line-height:190px;color:#f88699;transition:all 0.5s ease-in-out;}
.tl-pb-section-post-background span{ font-size:50px; width:52px; height:52px; position:absolute; top:40%; color:#d9d9d9; left:43%;}
.tl-pb-section-post-background:hover .tl-pb-remove-post-img{ width:40px; height:40px; padding:0 0 0 0; display:block; border:1px solid #c7c7c7;
background:url(../images/remove_img.png) no-repeat 0 0 #eeeeee; z-index:100 !important;  cursor:pointer; text-align:center;}

.tl-pb-section-post-background:hover .tl-pb-remove-post-img a{ padding:0 0 0 0; display:inline-block;  border:1px solid #c7c7c7;
background:url(../images/remove_img.png) no-repeat 0 0 #eeeeee; z-index:100 !important;  cursor:pointer; text-align:center; color:#202020; animation:ease-in-out ease 5es;}
.thickbox-loading{ overflow:hidden;}
.tl-pb-popover-input .tl-pb-pop-col { margin: 2px 10px !important;}
.tl-pb-col.col-sm-1 .tl-pb-popover-input .tl-pb-pop-col{ margin: 2px 0px !important;}



/**************************** page post select part end ******************/
/**************************** page post select part end ******************/
.newEditprt .leftMenubar .nav-tab-wrapper a { margin: 0!important;padding: 0!important;}
.newEditprt h2.nav-tab-wrapper { border: medium none rgba(0, 0, 0, 0)!important;}
/**************************** page post select part end ******************/

@media screen and (max-width:768px){  
.tl-page-builder .tl-pb-menu-panel ul.tl-pb-menu-list .tl-pb-menu-item{width:100%; height:auto;} 
.tl-post-select-part ul li{width:100%;}
.tl-post-select-part ul li label{ width:45%;}
.tl-post-select-part ul li .post-text{width:50%;}
.tl-post-select-part ul li .post-number{width:50%;}

}

.tl-default-slider-text{text-align:center;font-weight:600;font-size:20px;margin-top:0px;}
.popup-change-btn{margin-left:11px;}
.tl-pb-col.col-sm-1 .popup-change-btn{margin-left:0px;}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.tl-pb-popover-body .popup-change-btn { margin-bottom: 20px;}
.modalDialog > div {
    max-width: 850px;
    position: relative;
    margin: 2% auto 10%;
    padding:34px 34px 14px;
    border-radius: 0px;
    background: #fff;
    background: -moz-linear-gradient(#FFF, #FFF);
    background: -webkit-linear-gradient(#FFF, #FFF);
    background: -o-linear-gradient(#FFF, #FFF);
}
.close {
    background: #f44c67;
    color: #FFF;
	font-family: Open Sans;
	font-weight:900;
    line-height: 25px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 24px; font-weight:bold;
    text-decoration: none;
    font-weight: bold;
    border-radius:0;
  -webkit-transition:all 0.3s ease-in-out 0s;-moz-transition:all 0.3s ease-in-out 0s;transition:all 0.3s ease-in-out 0s;
}
.close:hover { background: #000; color:#FFF;}

.modalDialog-developer {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog-developer:target {
    opacity:1;
    pointer-events: auto;
}
.tl-pb-popover-body-developer .popup-change-btn-developer { margin-bottom: 20px;}
.modalDialog-developer > div {
    max-width: 850px;
    position: relative;
    margin: 2% auto 10%;
    padding:34px 34px 14px;
    border-radius: 0px;
    background: #fff;
    background: -moz-linear-gradient(#FFF, #FFF);
    background: -webkit-linear-gradient(#FFF, #FFF);
    background: -o-linear-gradient(#FFF, #FFF);
}
.close-developer {
    background: #f44c67;
    color: #FFF;
	font-family: Open Sans;
	font-weight:900;
    line-height: 25px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 24px; font-weight:bold;
    text-decoration: none;
    font-weight: bold;
    border-radius:0;
  -webkit-transition:all 0.3s ease-in-out 0s;-moz-transition:all 0.3s ease-in-out 0s;transition:all 0.3s ease-in-out 0s;
}
.close-developer:hover { background: #000; color:#FFF;}

.bx-wrapper { display: inline-block; max-width: 100% !important; padding: 0; position: relative;}
.tl-seo-content #upload_facebook_image_button, .tl-seo-content #upload_twitter_image_button, .tl-seo-content #upload_google_image_button { margin-top: 10px;}
.admin-slider-image-text {color: #fff;font-size: 16px;left: 0;position: absolute;text-align: center;top: 3%;width: 100%;}
.admin-banner-iconfont {position: relative;z-index: 9;}
#tlpb-cancel-btn{float:right;}
.modalDialog #tlpb-btn, .developer_div #tlpb-btn, .tl-pb-row #tlpb-btn{display:none;}
.tl-pb-section-post-background:hover{color:#333;}
/**module style ***/
.tl-pb-sec-sett-pop ul li {
  list-style: outside none none;
  text-align: center;
  width:25%;
  display:inline-block;
  vertical-align:top;
}
.module-items p {
  margin: 0;
}
.module-items i {
  background: #f44c67 none repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  width: 20px;
}
.tl-pb-sec-sett-pop  a.module-items {
  color: #333;
  display:block;
  padding: 4px;
  border: 1px solid #ccc;
  margin: 1px 2px;
  height:80px;
}
.tl-pb-sec-sett-pop li:hover  .module-items{
	background: rgb(234, 234, 234) none repeat scroll 0% 0%; color:#000; display:block;
}
.tl-pb-sec-sett-pop  a.module-items p{line-height: 16px;}
/**module style ***/
  .ui-tooltip, .arrow:after {
    background: #555555;
    border: 0px solid black;
	width:10%;
	z-index:99999999;
  }
  .ui-tooltip {
    padding: 5px 10px;
    color: white;
    border-radius: 4px;
    font: bold 12px "Helvetica Neue", Sans-Serif;
    /*box-shadow: 0 0 7px black;*/
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }
  .no-widget{border-top: 1px solid #ccc;margin-top:10px;color: #000000;font-size: 14px;font-weight:600;}
  .clearfix::after, .clearfix::before, .row::after, .row::before {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.clear, .clearfix::after, .row::after {
  clear: both;
}
/** margin padding **/
.margin-padding-selection { float: left; margin-bottom: 10px; width: 50%;}
.margin-padding-selection label { display: inline-block; vertical-align: top; width: 92px;}
.tl-pb-pop-col h3 {border-bottom: 1px solid #eaeaea; padding-bottom: 10px;}