#snipnet {
	color: #1e0fbe;
	display: block;
	font-size: 18px !important;
	line-height: 1.2;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 512px;
	font-weight: 600;
	opacity:1 !important;
	margin-left: 6% !important;
   /* margin-top: 5%;*/
}
#link{
	color: #006621;
	font-size: 13px;
	line-height: 16px;
	opacity:1 !important;
	margin-left: 6%;
    margin-top: 2%;
    opacity: 1 !important;
    width: 512px;
}
.seo-heading{
	opacity: 1 !important;
	margin-left: 5%;
    width: 20%;
	height: 5%;
}
.seo-content{
	opacity: 1 !important;
	/*margin-left: 10%;*/
    width: 80%;
	height: 5%;
	display: inline-block;
}


