.tabs {
    position: relative;
	margin: 40px auto;
	width: 750px;
}

.tabs input.tab-input {
	position: absolute;
	z-index: 1000;
	width: 120px;
	height: 40px;
	left: 0px;
	top: 0px;
	opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
	cursor: pointer;
}
.tabs input#tab-2{
	left: 120px;
}
.tabs input#tab-3{
	left: 240px;
}
.tabs input#tab-4{
	left: 360px;
}

.tabs label.tab-label {
	background: #222;
	margin-left: 7px;
	font-size: 13px;
	line-height: 32px;
	height: 32px;
	position: relative;
	padding: 0 12px;
    float: left;
	display: block;
	width: 80px;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	text-shadow:none;
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
}

.tabs label.tab-label:after {
    content: '';
	background: #fff;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
}

.tabs input.tab-input:hover + label.tab-label {
	background: #4f4f4f;
}

.tabs label.tab-label:first-of-type {
    z-index: 4;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1);
}

.tab-label-2 {
    z-index: 3;
}

.tab-label-3 {
    z-index: 2;
}

.tab-label-4 {
    z-index: 1;
}

.tabs input.tab-input:checked + label.tab-label {
    background: #ddd;
	z-index: 6;
	color:#222;
}

.clear-shadow {
	clear: both;
}

.content {
    background: #fff;
	position: relative;
    width: 100%;
	height:auto;
	z-index: 5;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    border-radius: 0 3px 3px 3px;
	margin:0 auto;
	border:1px #ccc solid;
	border-radius:0 4px 4px 4px;
}

.content div {
    /*position: absolute;*/
	top: 0;
	left: 0;
	padding:1px 12px;
	z-index: 1;
    opacity: 0;

    -webkit-transition: opacity linear 0.1s;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -ms-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
}

.tabs input.tab-input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-input.tab-selector-3:checked ~ .content .content-3,
.tabs input.tab-input.tab-selector-4:checked ~ .content .content-4 {
	z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: opacity ease-out 0.2s 0.1s;
    -moz-transition: opacity ease-out 0.2s 0.1s;
    -o-transition: opacity ease-out 0.2s 0.1s;
    -ms-transition: opacity ease-out 0.2s 0.1s;
    transition: opacity ease-out 0.2s 0.1s;
	display: block;
    position: absolute;
}
.content div h2,
.content div h3{
	color: #398080;
}
.content div p {
	font-size: 14px;
	line-height: 22px;
	font-style: italic;
	text-align: left;
	margin: 0;
	color: #777;
	padding-left: 15px;
	font-family: Cambria, Georgia, serif;
	border-left: 8px solid rgba(63,148,148, 0.1);
}
.
input, select {
    background: #222;
    margin: 1px;
    padding: 3px 5px;
	border:none;
}
#upload_facebook_image_button{
	background:#222;
	border:none;
	color:#fff;
	font-size:13;
}
#upload_twitter_image_button{
	background:#222;
	border:none;
	color:#fff;
	font-size:13;
}
#snipnet {
    margin-left: 1% !important;
	color:#000 !important;
}