/* Tl Framework Admin Styles */

#wpbody-content {
    /*float:none !important;*/
    margin:0 auto !important;
    overflow:visible !important;
    padding-bottom:65px;
    width:100% !important;
}
.wrap {
    background: #222222 none repeat scroll 0 0;
    margin:10px 20px 0 2px;
}
#tlframework {
    max-width:910px; 
    background:#fff;
	/*margin:0 auto;*/
	padding:10px 15px;
}
#tlframework h3 {
	cursor: default;
	background-color: #f1f1f1;
	border-bottom: 1px solid #ddd;
}
#tlframework p {
	margin-bottom:0;
	padding-bottom:10px;
}
#tlframework .section {
	padding:10px 10px 0;
}
#tlframework .group {
	padding-bottom:40px;
}
#tlframework .section .controls {
	float: left;
	min-width:350px;
	width: 54%;
	padding-right:2%;
}
#tlframework .section .explain {
	max-width:38%;
	float: left;
	font-size: 12px;
	line-height:16px;
	color: #777;
}
#tlframework .section-checkbox .controls {
	width: 98%;
}
#tlframework .section-checkbox .explain {
	max-width:94%;
}
#tlframework .controls input[type=text] {
	width:100%;
}
#tlframework .controls input[type=text].wp-color-picker {
    width: 65px;
}
#tlframework .controls select, #tlframework .controls textarea {
	margin-bottom:10px;
	width:100%;
}
#tlframework .section-radio label, #tlframework .section-multicheck label {
	float:left;
	max-width:90%;
	line-height: 16px;
	margin-bottom: 5px;
}
#tlframework input.checkbox, #tlframework input.tlf-radio {
	margin: 0 10px 5px 0;
	float:left;
	clear:both;
}
#tlframework .section-typography .controls {
	float:none;
	width:auto;
}
#tlframework .section-typography .explain {
	float:none;
	width:auto;
}
#tlframework .controls .tlf-typography-size {
	width:80px;
	float:left
}
#tlframework .controls .tlf-typography-unit {
	width:50px;
	margin-left:5px;
	float:left
}
#tlframework .controls .tlf-typography-face {
	width:100px;
	margin-left:5px;
	float:left
}
#tlframework .controls .tlf-typography-style {
	width:80px;
	margin-left:5px;
	margin-right:5px;
	float:left
}
#tlframework .section-typography .wp-picker-container {
	margin-top:2px;
}
#tlframework .tlf-background-properties {
	clear:both;
	margin-top: 18px;
}
#tlframework .controls .tlf-background-repeat {
	width:125px;
	margin-right:5px;
	float:left
}
#tlframework .controls .tlf-background-position {
	width:125px;
	margin-right:5px;
	float:left
}
#tlframework .controls .tlf-background-attachment {
	width:125px;
	margin-right:5px;
	float:left
}
#tlframework .section-background .wp-picker-container {
	margin-bottom:10px;
}
#tlframework .controls .tlf-radio-img-img {
	border:3px solid #f9f9f9;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
}
#tlframework .controls .tlf-radio-img-selected {
	border:3px solid #ccc
}
#tlframework .controls .tlf-radio-img-img:hover {
	opacity:.8;
}
#tlframework .controls .tlf-border-width {
	width:80px;
	float:left
}
#tlframework .controls .tlf-border-style {
	width:120px;
	float:left
}
#tlframework .hide {
	display:none;
}
#tlframework .tlf-option-image {
	max-width:340px;
	margin:3px 0 18px 0;
}
#tlframework .mini .controls select, #tlframework .section .mini .controls {
	width: 140px;
}
#tlframework .mini .controls input, #tlframework .mini .controls {
	min-width:140px;
	width: 140px;
}
#tlframework .mini .explain {
	max-width:74%;
}

/* Editor */

#tlframework .section-editor .explain {
	max-width: 98%;
	float:none;
	margin-bottom:5px;
}

/* Image Uploader */

#tlframework .controls input.upload {
	width:80%;
}
#tlframework .screenshot {
	float:left;
	margin-left:1px;
	position:relative;
	width:344px;
	margin-top:3px;
}
#tlframework .screenshot img {
	background:#fafafa;
	border-color:#ccc #eee #eee #ccc;
	border-style:solid;
	border-width:1px;
	float:left;
	max-width:334px;
	padding:4px;
	margin-bottom:10px;
}
#tlframework .screenshot .remove-image {
	background:url("../images/ico-delete.png") no-repeat;
	border:medium none;
	bottom:4px;
	display:block;
	float:left;
	height:16px;
	padding:0;
	position:absolute;
	left:-4px;
	text-indent:-9999px;
	width:16px;
}
#tlframework .screenshot .no_image .file_link {
	margin-left: 20px;
}
#tlframework .screenshot .no_image .remove-button {
	bottom: 0px;
}
#tlframework .reset-button {
	float:left;
	cursor:pointer;
}

/* Bottom Section */

#tlframework-submit {
	padding: 7px 10px;
	border-top: 1px solid #ddd;
	background-color: #f1f1f1;
}
#tlframework .button-primary {
	float:right;
}
#tlframework .section:after {
	content: "";
	display: table;
}
#tlframework .section:after {
	clear: both;
}


.nav-tab {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #2e2e2e !important;
    border-color: #494949 #494949 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    font-size: 12px;
    line-height: 16px;
    margin: -4px 4px -1px 0;
    padding: 4px 14px 6px;
	color:#919191 !important;
}
.nav-tab-active{
	background:#ea6153 !important;
	color:#fff !important;
	
}
#wpbody-content .metabox-holder {
    padding-top:0px !important;
}
#tlframework h3 {
    background-color: #2e2e2e !important;
    border-bottom: 1px solid #ddd;
    color: #fff !important;
    cursor: default;
    margin: 8px 9px;
    padding: 10px;
}
.postbox {
    background: #fff none repeat scroll 0 0;
    border:0 1px 1px 1px solid #e5e5e5 !important;
    box-shadow:none !important;
    min-width: 255px;
}

input[type="text"], input[type="password"], input[type="checkbox"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="radio"], input[type="tel"], input[type="time"], input[type="url"], input[type="week"], input[type="search"], select, textarea {
    background-color: #f3f3f3 !important;
    border: 1px solid #e1e1e1 !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    color: #32373c;
    outline: 0 none;
    transition: border-color 0.05s ease-in-out 0s;
}
.wp-core-ui .button-primary {
    background: #ea6153 none repeat scroll 0 0;
    border-color: #ea6153;
    box-shadow:none;
    color: #fff;
    text-decoration: none;
	border-radius:0 !important;
}
.wp-core-ui .button-primary:hover{
    background: #ea6153 !important;
    border-color: #ea6153;
	box-shadow:none !important;
}
.wp-core-ui .button, .wp-core-ui .button-secondary {
    background: #2e2e2e !important;
    border-color: #919090 !important;
    box-shadow:none !important;
    color: #fff !important;
    vertical-align: top;
	border-radius:0 !important;
}
#tlframework-submit {
    background-color: #222 !important;
    border-top: 1px solid #ddd;
    padding: 7px 10px;
}
.postbox {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #2e2e2e !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    min-width: 255px;
}
h1.nav-tab-wrapper, h2.nav-tab-wrapper, h3.nav-tab-wrapper {
    /*border-bottom: 1px solid #2e2e2e !important;*/
    padding-bottom: 0;
    padding-left: 10px;
}
.notice, div.error, div.updated {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #2e2e2e none repeat scroll 0 0;
    border-color: #7ad03a !important;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    box-shadow:none;
    color: #fff;
    margin: 5px 15px 2px;
    padding: 1px 12px;
}
.nav-tab-active, .nav-tab-active:hover {
    background: #f1f1f1 none repeat scroll 0 0;
    border-bottom: 1px solid #ea6153 !important;
    color: #000;
	outline:none !important;
}
.wrap h1, .wrap h2 {
    font-size: 23px;
    font-weight: 400;
    line-height: 29px;
    padding: 4px 15px 4px 10px !important;
}

/***************** Deeps 21-01-16 **************/
.newEditprt{ margin:0 0 0 0;}
.newEditprt .leftMenubar{ float:left; width:17%;}
.newEditprt .leftMenubar .nav-tab-wrapper{}
.newEditprt .leftMenubar .nav-tab-wrapper a{ width:100%; line-height:35px;}

.newEditprt .rgtContPrt{ float:left; width:82%; margin-left:0px;}
.newEditprt .rgtContPrt .tl_repeat{ margin:0 0 7px 0;}
.newEditprt .rgtContPrt .tl_repeat .tlf-input{ width:80% !important;}
.btn_add_repeat{ background: #2e2e2e;border:1px solid #919090;border-radius: 0;box-shadow: none;color:#fff;vertical-align:top;font-size:13px;
 height: 28px;line-height: 26px; margin: 0 0 0 3px;padding: 0 10px 1px; cursor:pointer;}
.btn_remove_repeat{background: #2e2e2e;border:1px solid #919090;border-radius: 0;box-shadow: none;color:#fff;vertical-align:top;font-size:13px;
 height: 28px;line-height: 26px; margin: 0 0 0 3px;padding: 0 10px 1px;cursor:pointer;}

/***************** Deeps 21-01-16 End **************/
/***************** Toggle Button Start **************/
input.tl_toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}

input.tl_toggle + label {
  display: block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  text-indent: -5000px;
  height: 30px;
  width: 50px;
  border-radius: 15px;
}

input.tl_toggle + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(19, 191, 17, 0);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input.tl_toggle + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
input.tl_toggle:checked + label:before {
  width: 50px;
  background: #13bf11;
}

input.tl_toggle:checked + label:after {
  left: 20px;
  box-shadow: inset 0 0 0 1px #13bf11, 0 2px 4px rgba(0, 0, 0, 0.2);
}
/***************** Toggle Button End **************/

.option-icon{
	margin-right:7px !important;
	font-size:14px !important;
}